.grid {
  width: calc(100% - 40px);
  margin: 20px;
}

.grid-item {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  transition-property: top, left;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}