.nav-drawer {
  position: absolute;
  width: 240px;
  right: 0;
  top: 48px;
  bottom: 0;
  background: #333;
}

ul.nav-drawer-items {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 8px;

  li {
    height: 32px;
    line-height: 32px;

    a {
      text-decoration: none;
      color: white;
      padding: 8px;
    }

    padding: 4px;
  }
}