.text { display: inline-block; }
.bold { font-weight: bold; }
.italics { font-style: italic; }
.underline { text-docoration: underline; }
.block { display: block; }

.text-size-tiny { font-size: 10px; }
.text-size-small { font-size: 13px; }
.text-size-base { font-size: 16px; }
.text-size-large { font-size: 24px; }
.text-size-huge { font-size: 32px; }

.text-padding-none { padding: 0; }
.text-padding-tiny { padding: 4px; }
.text-padding-small { padding: 8px; }
.text-padding-base { padding: 12px; }
.text-padding-large { padding: 24px; }
.text-padding-huge { padding: 32px; }
