.textfield {
  border: 2px solid #bdc3c7;
  border-radius: 3px;
  outline: none;
}

.textfield-size-tiny { font-size: 10px; padding: 2px; }
.textfield-size-small { font-size: 13px; padding: 4px; }
.textfield-size-base { font-size: 16px; padding: 8px; }
.textfield-size-large { font-size: 24px; padding: 12px; }
.textfield-size-huge { font-size: 32px; padding: 16px; }
